{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Am codecracker0 an offensive security researcher 🙃, bug bounty hunter, Highly skilled and motivated with professional  expertise in Python, networking, Linux,
cybersecurity,Full stack  web development, JavaScript , Node.js and flask framework. Adept at leveraging technical knowledge to
develop innovative solutions and drive project success. Excellent problem-solving abilities and strong
communication skills. Committed to continuous learning and staying up-to-date with emerging
technologies in the field</p>
        <p>I actually created this blog to document everything i learn and share with the community along the way.</p>
        <p>
          In this blog, I will explore different topics within cybersecurity. In particular, expect many posts about web security, web hacking, and penetration testing.

        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
