{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Am an offensive security researcher 🙃 (I do not like the name hacker), bug bounty hunter, Highly skilled and motivated professional with expertise in Python, networking, Linux,
cybersecurity,Full stack  web development, JavaScript , Node.js and flask framework. Adept at leveraging technical knowledge to
develop innovative solutions and drive project success. Excellent problem-solving abilities and strong
communication skills. Committed to continuous learning and staying up-to-date with emerging
technologies in the field</p>
        <p>I actually created this blog to document everything i learn and share with others, I love hacking this is the closest to magic you will ever come</p>
        <p>
          The reason I focus on Apis is because they are fascinating, they run the world under the hood from web applications to Internet of thing to mobile applications.
          Am  also obsessed with kali linux it just incredible. If interested contact me in this incredible journey.

        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}